<div class="container">
  <page-title></page-title>
    <div class="row justify-content-center">
      <div class="col-3 boxleft">
        <movie-list></movie-list>
      </div>
  
      <div class="col-3 boxcenter">
        <fav-photos></fav-photos>
        <div class="centered"  ><img width=200px src="https://media.giphy.com/media/ule4vhcY1xEKQ/giphy.gif" alt="computer cat montage"></div>
      </div>
      
      <div class="col-3 boxright">
        <chores-list></chores-list>
      </div>
    </div>
    <hr>
    <div class="centered "><fav-links></fav-links></div>
  </div>
